<div class="app-container">
  <header *ngIf="showNavbar">
    <h1>WeAreBank</h1>
    
    <nav>
      <a [routerLink]="['/cliente']" 
         [class.active]="isActiveRoute('/cliente')">Inicio</a> |
      <a [routerLink]="['/consultas']" 
         [class.active]="isActiveRoute('/consultas')">Consultas</a> |
      <a [routerLink]="['/retiros']" 
         [class.active]="isActiveRoute('/retiros')">Retiros</a> |
      <a [routerLink]="['/transferencias']" 
         [class.active]="isActiveRoute('/transferencias')">Transferencias</a> |
      <a [routerLink]="['/pagos']" 
         [class.active]="isActiveRoute('/pagos')">Pagos</a> |
      <a [routerLink]="['/prestamos']" 
         [class.active]="isActiveRoute('/prestamos')">Préstamos</a> |
      <a [routerLink]="['/creditos']" 
         [class.active]="isActiveRoute('/creditos')">Créditos</a> |
      <a href="#" (click)="logout($event)">Cerrar Sesión</a>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer *ngIf="showNavbar">
    <p>Todos los derechos reservados. 2025 ©</p>
  </footer>
</div>