<div class="ejecutivo-dashboard-container"> 
    
    <section class="dashboard-grid">

        <div class="metrics-panel">
            
            <p class="stat-text">
                <span class="stat-label">Clientes activos:</span> 
                <span class="stat-value">{{ clientesActivos }}</span>
            </p>
            <p class="stat-text">
                <span class="stat-label">Préstamos otorgados:</span> 
                <span class="stat-value">{{ prestamosOtorgados }}</span>
            </p>
            <p class="stat-text">
                <span class="stat-label">Solicitudes este mes:</span> 
                <span class="stat-value">{{ solicitudesEsteMes }}</span>
            </p>
        </div>

        <div class="chart-panel card"> 
            <h3 class="chart-title">Solicitudes Mensuales</h3>
            
            <div class="bar-chart-container">
                <div class="chart-area">
                    @for (data of chartData; track data.label) {
                        <div class="bar-container">
                            <div class="bar" 
                                 [style.height.%]="data.value" 
                                 [style.background-color]="data.color">
                            </div>
                            <label>{{ data.label }}</label>
                        </div>
                    }
                </div>
            </div>
        </div>

    </section>
</div>