<nav class="navbar">
  <div class="logo">WeAreBank</div>
  <ul>
    <a routerLink="/consultas" routerLinkActive="active">Consultas</a> |
    <a routerLink="/retiros" routerLinkActive="active">Retiros</a> |
    <a routerLink="/transferencias" routerLinkActive="active">Transferencias</a> |
    <a routerLink="/pagos" routerLinkActive="active">Pagos</a> |
    <a routerLink="/prestamos" routerLinkActive="active">Préstamos</a> |
    <a routerLink="/creditos" routerLinkActive="active">Créditos</a>
  <div class="user">
    Bienvenid&#64; (usuario) | <a routerLink="/">Cerrar Sesión</a>
  </div>
  </ul>
</nav> 
