.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #9c8ec4;
  padding: 10px;
  color: white;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.user {
  font-weight: bold;
}
