<nav class="navbar">
  <div class="logo">WeAreBank</div>
  <ul>
    <a routerLink="/cliente/consultas" routerLinkActive="active">Consultas</a> |
    <a routerLink="/cliente/retiros" routerLinkActive="active">Retiros</a> |
    <a routerLink="/cliente/transferencias" routerLinkActive="active">Transferencias</a> |
    <a routerLink="/cliente/pagos" routerLinkActive="active">Pagos</a> |
    <a routerLink="/cliente/prestamos" routerLinkActive="active">Préstamos</a> |
    <a routerLink="/cliente/creditos" routerLinkActive="active">Créditos</a>
  <div class="user">
    Bienvenid&#64; (usuario) | <a routerLink="/">Cerrar Sesión</a>
  </div>
  </ul>
</nav>
